@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.image-container {
  position: relative; /* Essencial para o pseudoelemento */
}

.image-container::before {
  content: ""; /* Essencial para que o pseudoelemento seja renderizado */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Cor da máscara */
  z-index: 1; /* Acima da imagem */
}

.image-container > img {
  position: relative; /* Para garantir que a imagem fique abaixo da máscara, se necessário */
  z-index: 0;
}

.image-banner {
 @media screen and (min-width: 1024px) {
    height: 100vh; /* Altura total da viewport em telas grandes */
  
 };
}

.container {
max-width: 600px;
margin: 0 auto;
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
.error-message, .alert-danger {
    color: red;
    font-size: 0.9em;
margin-top: 5px;
}
.alert-success {
color: green;
font-size: 0.9em;
 margin-bottom: 10px;
 }